.all-counter
{
.counter-button button
{
    width: 100px;
    height: 47px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 800;
}
.start-button
{
    background: green;
    color: white;
}
.restart-button
{
    background-color: Yellow;
    color: black;
}
.stop-button
{
    background-color: red;
    color: white;
}
}